{% extends 'core/base.html' %}

{% block title %}Shop {{category}}{% endblock %}

{% block content %}

  <div class="container">
    <div class="col">
      <form method="get" action="">
        <input name="query" type="text" value="{{ query }}" placeholder="Search by color, title, or brand...">
        <button class="btn btn-primary">Search</button>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="row">
      {% for item in category_items %}
        <div class="col-sm {% if forloop.counter|divisibleby:3 %}mb-4{% endif %}">
            <div class="card" style="width: 18rem;">
                <a href="{% url 'item:detail' item.id %}"> 
                    <img class="card-img-top" 
                      width="286"
                      height="342"
                      src="{{ item.image.url }}"
                      alt="Card image cap">
                </a>
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">${{ item.price }}</p>    
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>     
{% endblock %}