{% extends 'core/base.html' %}

{% block title %}Create Item{% endblock %}

{% block content %}

<!-- add sizes and multiple images-->

<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{ item.image.url }}">
        </div>
    </div>

    <div class="col bg-gray rounded-xl">
        <h1>{{ item.title }}</h1>
        <p><strong>Price:</strong> ${{ item.price }}</p>
        <p><strong>Description:</strong><br>
            {{ item.description}}</p>
    </div>
</div>

<div class="container">
    <h2>You may also like</h2>
    <div class="row">
      {% for item in related_items %}
        <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <a href="{% url 'item:detail' item.id %}"> 
                    <img class="card-img-top" 
                      width="286"
                      height="342"
                      src="{{ item.image.url }}"
                      alt="Card image cap">
                </a>
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">${{ item.price }}</p>    
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>     


{% endblock %}