{% extends 'core/base.html' %}

{% block title %}Welcome{% endblock %}

{% block content %}

{% for msg in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">      
  {{ msg }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %}
 
  <div class="container">
    <h3>Shop new arrivals</h3>
    <div class="row">
      {% for item in items %}
        <div class="col-sm {% if forloop.counter|divisibleby:3 %}mb-4{% endif %}">
            <div class="card" style="width: 18rem;">
                <a href="{% url 'item:detail' item.id %}"> 
                    <img class="card-img-top" 
                      width="286"
                      height="342"
                      src="{{ item.image.url }}"
                      alt="Card image cap">
                </a>
              <div class="card-body">
                <h5 class="card-title">{{ item.title }}</h5>
                <p class="card-text">${{ item.price }}</p>    
              </div>
            </div>
        </div>
      {% endfor %}
    </div>
  </div>     
{% endblock %}